<ul>
  <li
    class="product-figure"
    *ngFor="let product of products"
    (click)="selectedProduct(product)"
  >
    <img
      *ngIf="product.image"
      [src]="product.image"
      [alt]="product.name"
      [ngClass]="{
        'selected-product': product.isSelected,
        'unselected-product': !product.isSelected
      }"
    />
    <figure *ngIf="!product.image" class="default-image"></figure>
    <p
      [ngClass]="{
        'selected-product-title': product.isSelected,
        'unselected-product-title': !product.isSelected
      }"
    >
      {{ product.name }}
    </p>
  </li>
</ul>
