<div>
  <i *ngIf="arrayLength === 1" class="fa-solid fa-arrow-left"></i>

  <p class="success-message">
    {{
      arrayLength === 0
        ? "Tu necesidad no está en el listado, añádela"
        : message
    }}
  </p>
</div>
<ul>
  <li
    class="product-figure"
    *ngFor="let product of products; let i = index"
    (click)="selectedProduct(product, i)"
  >
    <img
      *ngIf="product.image"
      [src]="product.image"
      [alt]="product.name"
      [ngClass]="{
        'selected-product': selectedIndices.includes(i),
        'unselected-product': !selectedIndices.includes(i)
      }"
    />
    <figure
      *ngIf="!product.image"
      [ngClass]="{
        'selected-product': selectedIndices.includes(i),
        'unselected-product': !selectedIndices.includes(i)
      }"
    ></figure>
    <p
      [ngClass]="{
        'selected-product': selectedIndices.includes(i),
        'unselected-product': !selectedIndices.includes(i)
      }"
    >
      {{ product.name }}
    </p>
  </li>
</ul>
