<ul>
  <li
    class="product-figure"
    *ngFor="let product of products; let i = index"
    (click)="selectedProduct(product, i)"
  >
    <img
      *ngIf="product.image"
      [src]="product.image"
      [alt]="product.name"
      [ngClass]="{
        'selected-product': selectedIndices.includes(i),
        'unselected-product': !selectedIndices.includes(i)
      }"
    />
    <figure
      *ngIf="!product.image"
      [ngClass]="{
        'selected-product': selectedIndices.includes(i),
        'unselected-product': !selectedIndices.includes(i)
      }"
    ></figure>
    <p
      [ngClass]="{
        'selected-product': selectedIndices.includes(i),
        'unselected-product': !selectedIndices.includes(i)
      }"
    >
      {{ product.name }}
    </p>
  </li>
</ul>
