.input-container {
  display: flex;
  gap: 10px;
  padding: 16px 14px 14px 14px;
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 100vw;
}

.fa-plus {
  background-color: var(--color-yellow);
  border-radius: 16px;
}

.success-message {
  color: var(--color-purple);
  margin-top: 60px;
  margin-left: 16px;
  align-self: flex-start;
}
