<main>
  <div class="input-container">
    <input
      type="search"
      placeholder="Escribe lo que necesitas"
      [(ngModel)]="searchInput"
    />
    <i
      rol="button"
      *ngIf="(products$ | async | filter : searchInput)?.length === 0"
      (click)="addProduct(searchInput)"
      class="fa-solid fa-plus"
    ></i>
  </div>
  <p class="success-message">
    {{ postMessage }}
  </p>
  <app-producto
    *ngIf="products$ | async | filter : searchInput as products"
    [products]="products"
  ></app-producto>
</main>
<app-navbar></app-navbar>
