<main>
  <input
    type="search"
    placeholder="¿Qué vas a repartir?"
    [(ngModel)]="searchInput"
    class="reparto-input"
  />

  <app-producto
    *ngIf="products$ | async | filter : searchInput as products"
    [products]="products"
    [message]="
      (products$ | async | filter : searchInput)?.length === 0
        ? 'Actualmente no hay registro de esta necesidad'
        : 'Por favor, selecciona los artículos que puedes repartir'
    "
    [arrayLength]="(products$ | async | filter : searchInput)?.length"
  ></app-producto>
  <app-locations [locations]="locations"></app-locations>
</main>
<app-navbar></app-navbar>
