<main>
  <input
    type="search"
    placeholder="¿Qué vas a repartir?"
    [(ngModel)]="searchInput"
    class="reparto-input"
  />

  <app-producto
    *ngIf="products$ | async | filter : searchInput as products"
    [products]="products"
  ></app-producto>

  @if (searchInput.length === 0) {
  <p>Por favor, selecciona los artículos que puedes repartir.</p>
  } @else {
  <p>Actualmente no hay registro de esta necesidad.</p>
  }
  <app-locations></app-locations>
</main>
<app-navbar></app-navbar>
